name: Publish python distribution
run-name: Publish ${{ github.event.release.tag_name }}
on:
  release:
    types:
        - published

permissions:
  contents: read

jobs:
  build:
    name: Build distribution
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"
      
      - name: Install build and dependencies
        run: |
          python3 -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          python3 -m pip install build
      
      - name: Build binary wheel and tarball
        run: |
          python3 -m build
      
      - name: Store the distribution packages
        uses: actions/upload-artifact@v6
        with:
          name: python-package-distributions
          path: dist/

  publish-to-pypi:
    name: Publish to pypi
    needs:
      - build
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/<package-name>  # Replace <package-name> with your PyPI project name
    permissions:
      id-token: write
    steps:
      
