
name: Unit tests
run-name: ${{ github.event.pull_request.title }}-unit_tests
on:
  release:
    types:
        - published

permissions:
  contents: read

jobs:
  push-to-registry:
    runs-on: ubuntu-latest
    steps:
      - name: clone repository
        uses: actions/checkout@v6

      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Push package
        run: |
          python -m pip wheel --verbose --no-deps -w dist/ .
          python -m twine upload --config-file .pypirc -r testpypi dist/crapi-*
