
name: Unit tests
run-name: ${{ github.event.pull_request.title }}-unit_tests
on:
  pull_request:
    branches:
      - main
      - develop_**

permissions:
  contents: read

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: clone repository
        uses: actions/checkout@v6

      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Execute tests
        run: |
          python -m unittest tests/ -v -b
